body {
  display: flex;
  justify-content: center;
  height: 100vh;
  color: #373348;
  font-size: 1rem;
  line-height: 1.8rem;
}
::selection {
  background: #83dcff; /* WebKit/Blink Browsers */
}
h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 2.2rem;
  font-style: italic;
  margin-bottom: 3rem;
}
a {
  text-decoration: none;
  color: #373348;
}
a:hover {
  color: #83dcff;
}
.main {
  margin: 2rem;
  max-width: 800px;
  font-family: 'Merriweather', serif;
}
.contact {
  margin-top: 3rem;
}
.contact a {
  margin-right: 0.7rem;
}

@media only screen and (min-width: 600px) {
  body {
    align-items: center;
    font-size: 1.2rem;
  }
  h1 {
    font-size: 3rem;
    margin-bottom: 4rem;
    margin-top: 0;
  }
}
